
<div class="main-usuarios">

  <!-- NavBar -->
  <nav class="navbar fixed-top">
    <div class="item-container">
      <div class="item"><a [routerLink]="['/superusuario/usuarios']">Usuarios</a></div>
    </div>
    <div class="item-container">
      <div class="item"><a [routerLink]="['/superusuario/clientes']">Clientes</a></div>
    </div>
    <div class="item-container">
      <div class="item"><a [routerLink]="['/superusuario/facturas']">Facturas</a></div>
    </div>
    <div class="item-container">
      <div class="item"><a [routerLink]="['/superusuario/productos']">Productos</a></div>
    </div>
  </nav>

  <!-- Body -->

  <!-- Container -->
  <div class="container">
    <!-- Item Container -->
    <div class="content-half-items">
      <!-- Atributos -->
      <div class="atr-content">
        <div>ID</div>
        <div>Nombre</div>
        <div>Permiso</div>
      </div>
      <!-- Item -->
      <div *ngFor="let user of users">
        <div class="item-content ">
          <div class="item-data">
            <div class="data-id">
              {{user.id}}
            </div>
            <div class="data-name">
              {{user.nom}}
            </div>
            <div class="data-type">
              Admin
            </div>
          </div>
          <div class="item-btn-edit">
            <button class="btn-edit"
              type="button"
              (click)="mostrarFormEditar(user.id)"
              >
              Editar
            </button>
          </div>
          <div class="item-btn-delete">
            <button class="btn-delete">
              Eliminar
            </button>
          </div>
        </div>
      </div>

    </div>
    <!-- Form Container -->
    <div class="content-half-window">
      <!-- Btn Agregar -->
      <div class="btn-content">
        <button class="btn-agregar" (click)="mostrarFormAdd()">Agregar</button>
      </div>
      <div class="window-container">
        <div class="form-container">
          <!--Editar-->
          <form action="" class="form-edit d-none">
            <h2>Editar</h2>
            <input type="num" id="ide">
            <input type="text" id="nom">
            <input type="text" id="email">
            <input type="text" id="ced">
            <input type="num" id="num">
            <input type="text" id="dir">
            <input type="password" id="pass">
            <input type="text" list="permisos" value="Admin">
            <datalist id="permisos">
              <option value="Administrativo">
              <option value="SuperUsuario">
              <option value="Cliente">
            </datalist>
            <button>Editar</button>
          </form>
          <!--Agregar-->
          <form action="" class="form-add d-none">
            <h2>Agregar</h2>
            <input type="num" placeholder="1">
            <input type="text" placeholder="Oswald">
            <input type="text" placeholder="osw2156@gmail.com">
            <input type="text" placeholder="305420955">
            <input type="num" placeholder="83701101">
            <input type="text" placeholder="San Jose">
            <input type="password" placeholder="Contraseña">
            <input type="text" list="permisos" placeholder="Admin">
            <datalist id="permisos">
              <option value="Administrativo">
              <option value="SuperUsuario">
              <option value="Cliente">
            </datalist>
            <button>Agregar</button>
          </form>
        </div>
      </div>
    </div>
  </div>


</div>
