<div class="main-usuarios">
  <!-- NavBar -->
  <nav class="navbar fixed-top">
    <div class="item-container">
      <div class="item">
        <a [routerLink]="['/superusuario/usuarios']">Usuarios</a>
      </div>
    </div>

    <div class="item-container">
      <div class="item">
        <a [routerLink]="['/superusuario/facturas']">Facturas</a>
      </div>
    </div>
    <div class="item-container">
      <div class="item">
        <a [routerLink]="['/superusuario/productos']">Productos</a>
      </div>
    </div>
    <div class="item-container">
      <div class="item">
        <a [routerLink]="['/paginaprincipal/login']">LogOut</a>
      </div>
    </div>
  </nav>

  <!-- Body -->

  <!-- Container -->
  <div class="container">
    <!-- Item Container -->
    <div class="content-half-items">
      <!-- Atributos -->
      <div class="atr-content">
        <div>ID</div>
        <div>Nombre</div>
        <div>Permiso</div>
      </div>
      <!-- Item -->
      <div *ngFor="let user of users">
        <div class="item-content">
          <div class="item-data">
            <div class="data-id">
              {{ user.id }}
            </div>
            <div class="data-name">
              {{ user.nom }}
            </div>
            <div class="data-type">{{ user.category }}</div>
          </div>
          <div class="item-btn-edit">
            <button
              class="btn-edit"
              type="button"
              (click)="mostrarFormEditar(user.id)"
            >
              Editar
            </button>
          </div>
          <div class="item-btn-delete">
            <button class="btn-delete" (click)="eliminarUsuario(user.id)">
              Eliminar
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Form Container -->
    <div class="content-half-window">
      <!-- Btn Agregar -->
      <div class="btn-content">
        <button class="btn-agregar" (click)="mostrarFormAdd()">Agregar</button>
      </div>
      <div class="window-container">
        <div class="form-container">
          <!--Editar-->
          <form action="" class="form-edit d-none">
            <h2>Editar</h2>
            <input type="text" id="nom_1" />
            <input type="email" id="email_1" />
            <input type="text" id="ced_1" />
            <input type="num" id="num_1" />
            <input type="text" id="dir_1" />
            <input type="password" id="pass_1" />
            <input type="text" list="permisos" id="category_1" />
            <datalist id="permisos_1">
              <option value="Administrativo"></option>
              <option value="SuperUsuario"></option>
              <option value="Cliente"></option>
            </datalist>

            <button>Editar</button>
          </form>
          <!--Agregar-->
          <form action="" [formGroup]="form" class="form-add d-none" (ngSubmit)="submit()">
            <h2>Agregar</h2>
            <input
              type="text"
              formControlName="nom"
              id="nom"
              placeholder="Juan Perez"
            />
            <input
              formControlName="email"
              id="email"
              type="email"
              placeholder="example@gmail.com"
            />
            <input
              formControlName="ced"
              id="ced"
              type="text"
              placeholder="000000000"
            />
            <input
              formControlName="num"
              id="num"
              type="text"
              placeholder="00000000"
            />
            <input
              formControlName="dir"
              id="dir"
              type="text"
              placeholder="Provincia, Canton, etc"
            />
            <input
              formControlName="password"
              id="password"
              type="password"
              placeholder="********"
            />
            <input
              type="text"
              list="permisos"
              id="category"
              formControlName="category"
            />
            <datalist id="permisos">
              <option value="Administrativo"></option>
              <option value="SuperUsuario"></option>
              <option value="Cliente"></option>
            </datalist>

            <button class="button" type="submit">Agregar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
