
<div class="main-usuarios">

  <!-- NavBar -->
  <nav class="navbar fixed-top">
    <div class="item-container">
      <div class="item"><a [routerLink]="['/superusuario/usuarios']">Usuarios</a></div>
    </div>
    <div class="item-container">
      <div class="item"><a [routerLink]="['/superusuario/clientes']">Clientes</a></div>
    </div>
    <div class="item-container">
      <div class="item"><a [routerLink]="['/superusuario/facturas']">Facturas</a></div>
    </div>
    <div class="item-container">
      <div class="item"><a [routerLink]="['/superusuario/productos']">Productos</a></div>
    </div>
  </nav>

  <!-- Body -->

  <div class="container">
    <div class="content-half-items">

      <div *ngFor="let user of users">
        <!-- Item -->
        <div class="item-content ">
          <div class="item-data">
            <div class="data-id">
              {{user.id}}
            </div>
            <div class="data-name">
              {{user.nom}}
            </div>
            <div class="data-type">
              Admin
            </div>
          </div>
          <div class="item-btn-edit">
            <button class="btn-edit">
              Editar
            </button>
          </div>
          <div class="item-btn-delete">+
            <button class="btn-delete">
              Eliminar
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="content-half-screen">

    </div>
  </div>


</div>
