<h1 class="title">Reporte Usuarios</h1>
<div class="content">
  <div *ngFor="let usuario of usuarios">
    <div class="item">
      <!-- Nombre -->
      <div class="item-title-box">
        <h1 class="item-title-name">{{ usuario.nom }}</h1>
      </div>
      <!-- Cedula -->
      <h1 class="item-atr">Cédula: </h1>
      <p class="item-text">{{ usuario.ced }}</p>
      <!-- Telefono -->
      <h1 class="item-atr">Telefono: </h1>
      <p class="item-text">{{ usuario.num }}</p>
      <!-- Correo -->
      <h1 class="item-atr">Correo: </h1>
      <p class="item-text">{{ usuario.cor }}</p>
      <!-- Direccion -->
      <h1 class="item-atr">Direccion: </h1>
      <p class="item-text">{{ usuario.dir }}</p>
      <!-- Edad -->
      <h1 class="item-atr">Edad: </h1>
      <p class="item-text">{{ usuario.edad }}</p>

      <button type="button" (click)="deleteUsuario(usuario.ced)" class="btn btn-danger">Eliminar</button>
    </div>
  </div>
</div>
