
.list-container {
  height: 1900px;
  width: 100%;
  padding-left: 260px;
  padding-right: 20px;
  padding-top: 150px;
}


.list-item {
  background-color: #072a40;
  height: 340px;
  width: 20%;
  margin: 20px;
  margin-bottom: 70px;
  float: left;
  padding: 20px;
  overflow:hidden;
  height: auto;
  border-radius: 10px;
  border-color: #24d0da;
  border-width: 6px;
  border-style: solid;
}

.item-image {
  /* background-image: url('./img'); */
  height: 200px;
  width: 300px;
  overflow: hidden;
  margin-bottom: 30px;
}

img {
  height: 200px;
  width: 300px;
}


.item-atr {
  color: #18b7be;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
}

.item-text {
  color: white;
  font-weight: lighter;
  margin-left: 140px;
  overflow: hidden;
}

.item-title-name {
  text-align: center;
  text-shadow: #000000 6px 0px;
  color: #18b7be;
  margin-bottom: 25px;

}

.item-title-box {
  width: 100%;
  height: 60px;
  margin-bottom: 30px;
}

.btn {
  font-weight: bold;
  margin-top: 20px;
  width: 100%;
  background-color: #64c4af;
  color: white;
}

.title {
  font-size: 100px;
  text-align: center;
  color: antiquewhite;
  text-shadow: #072a40 6px 0px;
  margin-bottom: 40px;
  margin-right: 150px;
}

.item-desc {
  height: 50px; /*Para que la descripcion no afecte al item size*/
}


/*DropDown*/

.filter-container {
  margin-left: 20px;
  margin-bottom: 15px;
  margin-right: 220px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  background-color: #072a40;
  color: white;
  width: 150px;
  padding: 16px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #64c4af;
  min-width: 160px;
  margin-top: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 6px;
  z-index: 1;
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  display: block;
}

.dropdown:active .dropdown-content {display: block;}

.dropdown-content a:hover {background-color: #ddd; color: #000000;}
