<div class="list-container">
  <h1 class="title">Productos</h1>
  <div class="filter-container">
    <div class="dropdown">
      <button class="dropdown-btn">
        Filtro
      </button>
      <div class="dropdown-content">
        <a class="dropdown-item" (click)="getAll()"> All </a>
        <div *ngFor="let categoria of categorias">
          <a class="dropdown-item" (click)="getAllCat(categoria.id)">{{ categoria.nom }}</a>
        </div>
      </div>
    </div>
  </div>
  <div *ngFor="let producto of productos">
    <div class="list-item">
      <!-- Image -->
      <div class="item-image">
        <img src="http://localhost:8000/api/imagenes/{{ producto.img }}" alt="">
      </div>
      <!-- Nombre -->
      <div class="item-title-box">
        <h1 class="item-title-name">{{producto.nom}}</h1>
      </div>
      <!-- Descripción -->
      <div class="item-desc">
        <h1 class="item-atr">Descripción: </h1>
        <p class="item-text">{{producto.desc}}</p>
      </div>
      <!-- Precio -->
      <h1 class="item-atr">Precio: </h1>
      <p class="item-text"> ₡{{producto.pre_uni}} </p>
      <!-- Precio -->
      <h1 class="item-atr">Categoria: </h1>
      <p class="item-text"> {{producto.categoria.nom}} </p>
      <!-- Boton -->
      <div class="btn-container">
        <button type="button" class="btn-agregar" [routerLink]="['/producto/lista/', producto.id]"
          (click)="addToCart(producto)"
          (click)="acumularTotalPrecio(producto.pre_uni*producto.cant)"
          (click)="acumularTotalCant(producto.cant)">
          Agregar
        </button>
        <div class="btn-container-cantidad">
          <div class="btn-max-container">
            <button class="btn-max" type="button" (click)="aumentar(producto)">
              +
            </button>
          </div>
          <div class="cant-label-container">
            <p class="cant-label">{{producto.cant}}</p>
          </div>
          <div class="btn-min-container">
            <button class="btn-min" type="button" (click)="disminuir(producto)">
              -
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
