<div class="list-container">
  <h1 class="title">Productos</h1>
    <div *ngFor="let producto of productos">
      <div class="list-item">
        <!-- Image -->
        <div class="item-image">
          <img src="http://localhost:8000/api/imagenes/{{ producto.img }}" alt="">
        </div>
        <!-- Nombre -->
        <div class="item-title-box">
          <h1 class="item-title-name">{{producto.nom}}</h1>
        </div>
        <!-- Descripción -->
        <h1 class="item-atr">Descripción: </h1>
        <p class="item-text">{{producto.desc}}</p>
        <!-- Precio -->
        <h1 class="item-atr">Precio: </h1>
        <p class="item-text"> ₡{{producto.pre_uni}} </p>
        <!-- Precio -->
        <h1 class="item-atr">Categoria: </h1>
        <p class="item-text"> {{producto.categoria.nom}} </p>
        <!-- Boton -->
        <button type="button" class="btn" (click)="addToCart(product)">Agregar</button>
      </div>
    </div>
</div>





