<div class="main-login">
  <div class="container">
    <div class="form-content">
      <form [formGroup]="form">
        <h2>Iniciar Sesión</h2>
        <input
          class="text-input"
          formControlName="email"
          id="email"
          type="email"
          placeholder="example@gmail.com"
        />
        <input
        class="text-input"
        formControlName="password"
        id="password"
        type="password"
        placeholder="********"
      />
        <button (click)="submit()" type="button">Entrar</button>
      </form>
      <br />
      <a [routerLink]="['/paginaprincipal/register']">Sing Up</a>
    </div>
  </div>
</div>
