
<div class="main-facturas">
  <nav class="navbar fixed-top">
    <div class="item-container">
      <div class="item"><a [routerLink]="['/superusuario/usuarios']">Usuarios</a></div>
    </div>
    <div class="item-container">
      <div class="item"><a [routerLink]="['/superusuario/clientes']">Clientes</a></div>
    </div>
    <div class="item-container">
      <div class="item"><a [routerLink]="['/superusuario/facturas']">Facturas</a></div>
    </div>
    <div class="item-container">
      <div class="item"><a [routerLink]="['/superusuario/productos']">Productos</a></div>
    </div>
  </nav>
</div>
