
<div class="check-container">
  <div class="check-container-half">
    <div *ngFor="let number of [0,1,2,3,4,5,6,7,8]">
      <div class="item-container">
        <div class="item-container-half">
          <p class="item-name">Manzana</p>
        </div>
        <div class="item-container-half">
          <p class="item-price">$2.99</p>
        </div>
      </div>
    </div>
  </div>
  <div class="check-container-half">
    <div class="info">

    </div>
    <button class="btn">
      Comprar
    </button>
  </div>
</div>





